/* Write your CSS here */
.footer-container {
  background-color: #e2e8f0;
  padding: 2px;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.footer-heading {
  font-family: 'Roboto';
  color: #475569;
}
